/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
    width: -webkit-fill-available;
    background: white;
    th,
    td {
        color: #000;
        border-bottom-color: rgb(197, 197, 197);
    }
}

.flex {
    display: flex;
    &.spaced {
        justify-content: space-between;
    }
}